<!DOCTYPE html>
<html>
  <head>
    <title>Rometica</title>

    <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag   "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <script src="/assets/bootstrap-dropdown.js?body=1" type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <nav class='nav'>
        <%= link_to "Rometica", '/', id: "logo" %>
          <div class='nav pull-right'>
            <ul class="nav nav-pills pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Addition<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Easy", 'easy'%></li>
                  <li><%= link_to "Hard", 'hard' %></li>
                </ul>    
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    Multiplication
                    <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Easy", 'times'%></li>
                  <li><%= link_to "Hard", 'times_hard' %></li>
                </ul>    
              </li>
            </ul>
          </div>
          </nav>
        

        </div>
      </div>
    </header>
    <%= yield %>
    <div class='nav footer-nav'>
      <small id='footer-name'>
        Rometica - The Math Puzzle Game, by Greg Barozzi - Twitter: @glbarozzi

      </small>
        <ul class='list-inline pull-right'>
        <li><%= link_to "About",   'about' %></li>
        <li><%= link_to "Contact", 'contact' %></li>
      </ul>
    </div>
  </body>
</html>
